body {
	background-color: black;
	display: table;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.play-text {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
	color: white;
	font-size: 100px;
	font: Sans-serif;
}
